*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	user-select: none;
	}
/* 	goutte bleu 1 : #52b9ff
	goutte bleu 2 : #45adf9
	goutte bleu 3 : #287cc2
	goutte rose : 	#f31ebf
	goutte orange : #e99941
	bleu  tache : #84C8F6
	background color : #E9E9E9 (ancien : #D7F5F4)
	
	// 
		pour le placement des objets : 
			- position : absolute
			- top : un pourcentage / nb de pixels
			- left : pareil
			- display: flex;
			- justify-content: center;
			- align-items: center;
	//
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');


html,body{
		width: 100%;
		height: 100%;
	}
body{
	background: linear-gradient(-45deg,#e99941,  #52b9ff,  #45adf9, #287cc2, #f31ebf);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
	/* background-color: #E9E9E9; */
	position: absolute;
	font-family: "optiamwayregular", Arial, sans-serif;
	font-weight: normal;
	color: black;
	text-align: center;
	overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#header-left{
	width: 200px;
	height: 100px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
}
#logo{
	width: 255px;
	height :81px;
	background-image: url(/web/images/LivosLogoComplet.png);
	background-size:cover;
	background-position: left top;
	position: absolute;
	top:  3px;
	left: 3px;
}
#side-text{
	width: 100px;
	height :100px;
	font-size: 1.4em;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: calc(50%  - 50px);
	left: 50%;
}

#tache-fond{
	width: 500px;
	height: 500px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 80%;
}
#tache-fond2{
	width: 500px;
	height: 500px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 55%;
	transform: rotate(180deg);
}

#voting-session{
	width: 80%;
	height: 80%;
	position: absolute;
	display:grid;
	justify-content:start;
	align-items: baseline;
	left: 10%;
	top: 10%;
}
#text-voting-session{
	height: 10%;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: left;
	align-items: top;
	top: 10%;
	/* font-weight:bold; */
	color:#000000;
	text-shadow: #949392 0.1em 0.1em 0.2em;
	text-decoration: underline;
}



form {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-self: start;
	left: 105%;
}



.Open{
	width: 30vw;
	height: 68vh;
	position: absolute;
	display: table-row-group;
	justify-content: center;
	align-items: flex-start;
	top:22%;
	border-radius: 2em;
	background: #a9ceff;
}

.Close{
	width: 30vw;
	height: 68vh;
	position: absolute;
	display:table-row;
	justify-content: center;
	align-items:flex-start;
	/* align-self: start; */
	/* animation-delay: 1s;
	animation-fill-mode: both; */
	left: 30vw;
	top:22%;
	border-radius: 2em;
	background: #a9ceff;
}
.formInside{
	position: absolute;
	left:25%;
}
.voteOpen{
	left: -10%;
}
.voteClose{
	left: -10%;
}

.buttonsOpen{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: start;
	align-items: flex-start;
	position: relative;
	left: 10%;
	top: 5%;
}

.buttonsClose{
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: start;
	align-items: flex-start;
	position: relative;
	left: 10%;
	top: 5%;
}
.Open input[type=submit]{
	padding:0.2em 1em;
	margin:0 0.1em 0.1em 0;
	font-weight: 250;
	font-family:'Roboto',sans-serif;
	text-transform: uppercase;
	border-radius: 1.5em;
	color: #000000;
	background: linear-gradient(-45deg,#a9b9cf, #f03e26);
	border: 0.15em solid #000000;
	cursor: pointer;
	transition: all 1s ease 0s;
	text-shadow: 0 0.04em 0.04em rgba(112, 111, 111, 0.35)
  }
.Open input[type="submit"]:hover {
	color: #000000;
	background: linear-gradient(-45deg, #f03e26, #a9b9cf);
	border-color: #000000;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 1s ease;
}

.Close input[type=submit]{
	padding:0.2em 1em;
	margin:0 0.1em 0.1em 0;
	font-weight: 250;
	font-family:'Roboto',sans-serif;
	text-transform: uppercase;
	border-radius: 1.5em;
	color: #000000;
	background: linear-gradient(-45deg,#a9b9cf, #46b442);
	border: 0.15em solid #000000;
	cursor: pointer;
	transition: all 1s ease 0s;
	text-shadow: 0 0.04em 0.04em rgba(112, 111, 111, 0.35)
}
.Close input[type="submit"]:hover {
	color: #000000;
	background: linear-gradient(-45deg,#46b442, #a9b9cf);
	border-color: #000000;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 1s ease;
	transition: transform 1s;
}

input[type="submit"]:focus {
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.createRoom{
	width: 250px;
	height: 250px;
	position: relative;
	display:flex;
	justify-content: center;
	align-items:center;
	/* align-self: start; */
	top: calc(30% - 100px);
	left: calc(80% - 100px);
}

a.button4{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.1em 0.1em 0;
	border:0.16em solid rgba(255,255,255,0);
	border-radius:2em;
	border-color: #000000;
	box-sizing: border-box;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#000000;
	background: linear-gradient(-45deg, #52b9ff, #a9b9cf);
	text-shadow: 0 0.04em 0.04em rgba(112, 111, 111, 0.35);
	text-align:center;
	transition: all 1s;
}

a.button4:hover{
	border-color: #000000;
	background: linear-gradient(-45deg,#a9b9cf,  #e99941);
	transition: transform 1s;
}

a.buttonParam{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.1em 0.1em 0;
	border:0.16em solid rgba(255,255,255,0);
	border-radius:2em;
	border-color: #000000;
	box-sizing: border-box;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#000000;
	background: linear-gradient(-45deg, #717072, #a9b9cf);
	text-shadow: 0 0.04em 0.04em rgba(112, 111, 111, 0.35);
	text-align:center;
	transition: all 1s;
}

a.buttonParam:hover{
	border-color: #000000;
	background: linear-gradient(-45deg,#a9b9cf,  #717072);	transition: transform 1s;
	transition: transform 1s;
}

.buttonsClose > a img{
	width: 35px;
	height: 35px;
	position: relative;
	transition: 0.5s;
}
.buttonsClose > a img:hover{
	transition: transform 0.5s;
	transform: scale(1.1) rotate(90deg);
}

.buttonsOpen > a img{
	width: 35px;
	height: 35px;
	position: relative;
	transition: 0.5s;
	left:10px;
}
.buttonsOpen > a img:hover{
	transition: transform 0.5s;
	transform: scale(1.1) rotate(90deg);
}

@media all and (max-width:30em){
	a.button4{
		display:block;
		margin:0.2em auto;
	}
}




/* HOMPAGE */

svg{font-weight:bold;max-width:600px;height:auto;text-shadow: black 0.1em 0.1em 0.2em}

/* .threeD {
	color: #e99941;
	white-space: nowrap;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	font-family: sans-serif;
	letter-spacing: 0.1em;
	transition: 0.3s;
	text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
	  1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
	  5px 13px 15px black;
  }
  
  .threeD:hover {
	transition: 0.3s;
	transform: translate(-50%, -50%);
	text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
	  1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
	  1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
  } */
   