*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    }
/* 	goutte bleu 1 : #52b9ff
    goutte bleu 2 : #45adf9
    goutte bleu 3 : #287cc2
    goutte rose : 	#f31ebf
    goutte orange : #e99941
    bleu  tache : #84C8F6

    background color : #E9E9E9 (ancien : #D7F5F4)
    
    // 
        pour le placement des objets : 
            - position : absolute
            - top : un pourcentage / nb de pixels
            - left : pareil

            - display: flex;
            - justify-content: center;
            - align-items: center;
    //

*/
html,body{
        width: 100%;
        height: 100%;
    }
body{
    background-color: #E9E9E9;
    position: absolute;
    font-family: "optiamwayregular", Arial, sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
    overflow: hidden;

}
#logo{
    width: 255px;
    height :81px;
    background-image: url(/web/images/LivosLogoComplet.png);
    background-size:cover;
    background-position: left top;
    position: absolute;
    top:  3px;
    left: 3px;
}
#boxBlue{
    width  : 500px;
    height : 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    top: 20%;
    left: 30%;
    box-shadow:10px 5px 5px grey ;
    background: #84C8F6;
}


