*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    }
/* 	goutte bleu 1 : #52b9ff
    goutte bleu 2 : #45adf9
    goutte bleu 3 : #287cc2
    goutte rose : 	#f31ebf
    goutte orange : #e99941
    bleu  tache : #84C8F6

    background color : #E9E9E9 (ancien : #D7F5F4)
    
    // 
        pour le placement des objets : 
            - position : absolute
            - top : un pourcentage / nb de pixels
            - left : pareil

            - display: flex;
            - justify-content: center;
            - align-items: center;
    //

*/
html,body{
        width: 100%;
        height: 100%;
    }

body{
    background: linear-gradient(-45deg, #e99941, #52b9ff, #287cc2, #dd45b7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /* background-color: #E9E9E9; */
    position: absolute;
    font-family: "optiamwayregular", Arial, sans-serif;
    font-weight: normal;
    color: black;
    text-align: center;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#logo{
    width: 255px;
    height :81px;
    background-image: url(/web/images/LivosLogoComplet.png);
    background-size:cover;
    background-position: left top;
    position: absolute;
    top:  3px;
    left: 3px;
}

#boxBlue{
    height: 250px;
    width: 350px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 20%;
    top: 100px;
    left: 35%;
    box-shadow:8px 4px 4px rgb(95, 94, 94) ;
    border: 3px solid #000;
    font-size: 1em;
    font-weight: bold;
    background: none;
    padding: 5px;
    /* background: #84C8F6; */
}

.title {
	top: 25px;
	font-weight:bold;
	color:#000000;
	text-shadow: #e99941 0.1em 0.1em 0.2em;
}

.exitButton{
    position: relative;
	display:flex;
	justify-content: flex-end;
	align-items:flex-end;
    /* top: calc(80% - 100px); */
    top: 20%;
    right: 8%;
    bottom: 10%;
}

a.button4{
	display:inline-block;
	padding:0.3em 1.2em;
	margin:0 0.1em 0.1em 0;
	border:0.16em solid rgba(255,255,255,0);
	border-radius:2em;
	border-color: #000000;
	box-sizing: border-box;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#000000;
	background: linear-gradient(-45deg, #52b9ff, #a9b9cf);
	text-shadow: 0 0.04em 0.04em rgba(112, 111, 111, 0.35);
	text-align:center;
	transition: all 1s;
}

a.button4:hover{
	border-color: #000000;
	background: linear-gradient(-45deg,#a9b9cf,  #e99941);
	transition: transform 1s;
}


