<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/web/static/election.css">

    <title>Livos</title>
  </head>
  <body>
      <h1>Welcome in the election number : {{.Election.Id}}</h1>
      <h3>Votation Question : {{.Election.Config.Description}}</h3>
      
      <div id="logo">
        <!-- <img src="/images/LivosLogoComplet.png"> -->
      </div>
      
      <div id="formulaire">
        <form method="post" class="form-example" >
          
          <div class="votingChoice">
            <div class="form-example">
              <label for="voter">List of voters : </label>
                <select name="voter" id="voter">
                  {{range $key, $value := .Election.Config.Voters}}
                    <option>{{$value.UserID}}</option>
                  {{end}}
                </select>
            </div>
  
            <div class="form-example">
              <label for="yesPercent">Quantity for YES: </label>
              <input type="number" name="yesPercent" id="yesPercent" >
            </div>
  
            <div class="form-example">
              <label for="noPercent">Quantity for NO: </label>
              <input type="number" name="noPercent" id="noPercent" >
            </div>
          </div>

          <div class="delegation">
            <div class="form-example">
              <label for="voterSender">Delegate from : </label>
                <select name="voterSender" id="voterSender">
                  {{range $key, $value := .Election.Config.Voters}}
                    <option>{{$value.UserID}}</option>
                  {{end}}
                </select>
            </div>
  
            <div class="form-example">
              <label for="voterReceiver">Delegate to : </label>
                <select name="voterReceiver" id="voterReceiver">
                  {{range $key, $value := .Election.Config.Voters}}
                    <option>{{$value.UserID}}</option>
                  {{end}}
                </select>
            </div>
  
            <div class="form-example">
              <label for="percent">Quantity: </label>
              <input type="number" name="quantity" id="quantity" >
            </div>
          </div>

          <div class="form-example">
            <input type="submit" name="Validate" id="Validate" value="Validate">
          </div>

        </form>
      </div>
  </body>
</html>