<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/web/static/election.css">

    <title>Livos</title>
  </head>
  <body>
      <h1>Welcome in the election number : {{.Election.Id}}</h1>
      <h3>Votation Question : {{.Election.Config.Description}}</h3>
      
      <div id="logo">
        <!-- <img src="/images/LivosLogoComplet.png"> -->
      </div>
      
      <h4>
        List of voters : <br>
        <select name="pets" id="pet-select">
          {{range .Election.Config.Voters}}
            <option>{{.}}</option>
          {{end}}
        </select>
      </h4>
      
      <div id="formulaire">
        <form method="post" class="form-example" >

          <div class="form-example">
            <label for="voter">Voter: </label>
            <input type="text" name="voter" id="voter" required>
          </div>

          <div class="form-example">
            <label for="yesPercent">Your yes Vote: </label>
            <input type="number" name="yesPercent" id="yesPercent" >
          </div>

          <div class="form-example">
            <label for="noPercent">Your no Vote: </label>
            <input type="number" name="noPercent" id="noPercent" >
          </div>

          <div class="form-example">
            <input type="submit" name="Validate" id="Validate" value="Validate">
          </div>
        </form>
      </div>
  </body>
</html>