<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/web/static/vide.css">

    <title>Livos</title>
  </head>
  <body>

      
      {{.Infograph}}
      <script src="/web/static/vizjs/viz.js"></script>
      <script src="/web/static/vizjs/viz.lite.render.js"></script>
      <!-- <script>
       let digraph = 'digraph { a->b, }';
        // for svg
        let svgXml = Viz(digraph, { format: "svg"});
        graphYesNo.body.innerHtml = svgXml;
        // for img-element
        let img = Viz(digraph, { format: "png-image-element"});
        graphYesNo.body.append(img);
      </script>  -->

      
      <!-- <script>
        var viz = new Viz();
        const element = await viz.renderSVGElement('a->b');
        this.graphYesNo.innerHTML = "";
        this.graphYesNo.appendChild(element);
      </script> -->
      <script>
        var viz = new Viz();
        var strtemp = {{.}};
        viz.renderSVGElement('digraph '+strtemp)
          .then(function(element) {
            document.body.appendChild(element);
          }).catch(error => {
            viz = new Viz({workerURL})
          });
      </script>

      <div class="exitButton">
        <a href="/homepage" class="button4" >Back to Homepage</a>
      </div>

  </body>
</html>