<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/web/static/manage.css">

    <title>Livos</title>
  </head>
  <body>
      <h2 class="title">Welcome in the parameters of the election {{.Election.Id}}.</h2>
      <h3 class="title">Votation Question : {{.Election.Config.Description}}</h3>

      <div id="logo">
        <!-- <img src="/images/LivosLogoComplet.png"> -->
      </div>

      <form method="post" class="form-example" >

        <div class="form-example">
          <label for="title">Title: </label>
          <input type="text" name="title" id="title" value={{.Election.Config.Title}}>
        </div>
        

        <br>

        <!-- <div class="form-example">
          <label for="status" style="background: none;">Select a status :</label>
          <span>
            <input type="radio" name="status" id="open" value="open">
            <label for="status">Open</label>
          </span>
          <span>
            <input type="radio" name="status" id="close" value="close">
            <label for="status">Close</label>
          </span>
        </div> -->

        <div class="form-example">
          <label for="desc">Description: </label>
          <textarea type="text" name="desc" id="desc" rows="3" cols="30" maxlength="150" placeholder={{.Election.Config.Description}}></textarea>
        </div>

        <br>

        <div class="form-example">
          <label for="votersList">Voters List: </label>
          <textarea type="textarea" name="votersList" id="votersList" rows="3" cols="30" maxlength="150" placeholder={{.VoterList}}></textarea>
        </div>

        <div class="form-example">
          <label for="candidates">Candidates List: </label>
          <textarea type="textarea" name="candidates" id="candidates" rows="3" cols="30" maxlength="150" placeholder={{.CandidateList}}></textarea>
        </div>

        <div class="form-example">
          <div class="button">
            <input type="submit" name="validate" id="validate" value="Validate">
          </div>
        </div>
      </form>
      
      <div class="exitButton">
        <a href="/homepage" class="button4" >Back to Homepage</a>
      </div> 
  </body>
</html>