<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/web/static/manage.css">

    <title>Livos</title>
  </head>
  <body>
      <h2 class="title">Welcome in the parameters of the election {{.Election.Id}}.</h2>
      <h3 class="title">Votation Question : {{.Election.Config.Description}}</h3>

      <div id="logo">
        <!-- <img src="/images/LivosLogoComplet.png"> -->
      </div>

      <form method="post" class="form-example" >

        <div class="form-example">
          <label for="title">Title: </label><br>
          <input type="text" name="title" id="title" value={{.Election.Config.Title}}>
        </div>
      
        <br>

        <div class="form-example">
          <label for="desc">Description: </label><br>
          <textarea type="text" name="desc" id="desc" rows="3" cols="30" maxlength="150">{{.Description}}</textarea>
        </div>

        <br>

        <div class="form-example">
          <label for="votersList">Voters List: </label><br>
          <!-- placeholder="#Voter1, Voter2, Voter3..." -->
          <textarea type="text" name="votersList" id="votersList" rows="3" cols="30" maxlength="150">{{.ListOfVoters}}</textarea>
        </div>

        <div class="form-example">
          <label for="candidates">Candidates List: </label><br>
          <textarea type="textarea" name="candidates" id="candidates" rows="3" cols="30" maxlength="150">{{.ListOfCandidats}}</textarea>
        </div>

        <div class="form-example">
          <div class="button">
            <input type="submit" name="validate" id="validate" value="Validate">
          </div>
        </div>
      </form>
      
      <div class="exitButton">
        <a href="/homepage" class="button4" >Back to Homepage</a>
      </div> 
  </body>
</html>