<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/web/static/homepage.css">

    <title>Livos Accueil</title>
  </head>
  <body>
      <h1>Welcome on the homepage, you are in</h1>

      <div id="header-left">
        <div id="logo">
          <!--<img src="images/LivosLogo.PNG">-->
        </div>
  
        <div id="side-text">
          <h2>Livos</h2>
        </div>
      </div>
      <div id="tache-fond">
        <img src="/web/images/tache-bg.png">
      </div>
      <div id="tache-fond2">
        <img src="/web/images/tache-bg.png">
      </div>
  
      <div id="voting-session">
        <div id="text-voting-session">
          <h1>Voting Session</h1>
        </div>
        
        <div id="list">
          
            {{range $key, $value := .VotingInstanceTabOpen}} <p>
              <div class="vote" id="panelsYesVotes'+'{{$key}}">
<!--                 <a><input type="button" class= "button" name="login" value={{$value.Status}} onclick="self.location.href='/election?id='+'{{$key}}'" ></a>-->              
 <!--   
                  <form formaction="/election?id='+'{{$key}}">
                    <input type="image" src="/web/images/Vote_resized.jpg" alt="Vote_resized" width="75" height="75">
                  </form> -->
                <a href="/election?id='+'{{$key}}"> <img src="/web/images/Vote_resized.jpg" alt="Vote_resized" width="150px" heigth="150px"></a>                
                <div class="description-vote">
                  <h5>{{$value.Config.Description}}</h5>
                </div>
              </div>       
<!--               <a><input type="button" class= "button" name="login" value={{$value.Status}} width="300px" heigth="300px" style="background: url(/web/images/Vote_resized.jpg)" onclick="self.location.href='/election?id='+'{{$key}}'" ></a>-->              
<!--               <span><input type="image" class= "button" name="login" value={{$value.Status}} width="300px" heigth="300px" src=/web/images/Vote_resized.jpg formaction="/election?id='+'{{$key}}" ></span>-->
            </p> {{end}}
          <div class="title-vote" id="voteYes">
            {{range $key, $value := .VotingInstanceTabOpen}} <p>
              <h3>Vote {{$key}} :{{$value.Status}}</h3>
            </p> {{end}}
          </div>
          <div class="parambutton" id="paramYes">
            {{range $key, $value := .VotingInstanceTabOpen}} <p>
              <span><input type="button" name="param" value="Parameters of {{$key}}" onclick="self.location.href='/manage?id='+'{{$key}}'" ></span>
              <span><input type="button" name="param" value="Room: {{$key}}" onclick="self.location.href='/election?id='+'{{$key}}'" ></span>
            </p> {{end}}
          </div>

          
          <div class="vote" id="panelsNoVotes">
            {{range $key, $value := .VotingInstanceTabClose}} <p>
              <a href="/results?id='+'{{$key}}"><img src="/web/images/Vote_resized.jpg" width="150px" heigth="150px"></a>
              <div class="description-vote">
                <h5>{{$value.Config.Description}}</h5>
              </div>
            </p> {{end}}
          </div>
          <div class="title-vote" id="voteNo">
            {{range $key, $value := .VotingInstanceTabClose}} <p>
              <h3>Vote {{$key}} : {{$value.Status}}</h3>
            </p> {{end}} 
          </div>
          <div class="parambutton" id="paramNo">
            {{range $key, $value := .VotingInstanceTabClose}} <p>
              <span><input type="button" name="param" value="Parameters of {{$key}}" onclick="self.location.href='/manage?id='+'{{$key}}'" ></span>
              <span><input type="button" name="param" value="Room {{$key}}" onclick="self.location.href='/results?id='+'{{$key}}'" ></span>
            </p>{{end}}
          </div>
        </div>
      </div>
      <!-- FORMULAIRE CSS PAS ENCORE FAIT-->
      <div id="formulaire">
        <form method="post" class="form-example" >

          <div class="form-example">
            <label for="title">Title: </label>
            <input type="text" name="title" id="title" required>
          </div>

          <div class="form-example">
            <label for="id">Id of the room: </label>
            <input type="number" name="id" id="id" required>
          </div>

          <div class="form-example">
            <label for="status">Select a status :</label>
            <input type="radio" name="status" id="open" value="open" checked>
            <label for="open">Open</label>
            <input type="radio" name="status" id="close" value="close" checked>
            <label for="open">Close</label>
          </div>

          <div class="form-example">
            <label for="desc">Description: </label>
            <textarea type="textarea" name="desc" id="desc" rows="5" cols="30" maxlength="150" placeholder="#Description" required></textarea>
          </div>

          <div class="form-example">
            <label for="votersList">Voters List: </label>
            <textarea type="textarea" name="votersList" id="votersList" rows="3" cols="30" maxlength="150" placeholder="#Voter1, Voter2, Voter3..."></textarea>
          </div>

          <div class="form-example">
            <label for="candidates">Candidates List: </label>
            <textarea type="textarea" name="candidates" id="candidates" rows="3" cols="30" maxlength="150" placeholder="#Candidate1, Candidate2..." required></textarea>
          </div>

          <div class="form-example">
            <input type="submit" name="create" id="create" value="Create">
          </div>

        </form>

      </div>
  </body>
</html>